<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>

  <link href="/public/assets/css/book.css" rel="stylesheet">
  <!-- materialize framework CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>{{title}}</title>
</head>
<body>
    {{!-- //the body will be the deflaut template for all other pages body --}}
    {{{body}}}
</body>
</html>