<nav>
  <div class="nav-wrapper">
    {{!-- <img class="booksImg" src="assets/images/reading.jpeg" alt="Three Books with leaves" width="200" height="240"> --}}
    <a href="#!" class="brand-logo">Book Crawler</a>
    <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Login</a></li>
    </ul>
  </div>
</nav>

<div class="main-container">
<div class="loginDiv">
<h3>Registration Form</h3>

{{!-- <div class="booksImg"> <img  src="assets/images/reading.jpeg" alt="Three Books with leaves" width="300" height="200"> </div> --}}

<h6>Create an Account Here!</h6>

<div class="row">
      {{#each errors}}
        <p id="errMsg">{{ msg }}</p>
      {{/each}}
      
  <form  class="col s12" action="/register" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="name" id="userName" class="validate">
        <label class="active" for="userName">User Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
          <input type="password" name="password" id="password" class="validate" placeholder= "Create Password">
        <label class="active" for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
          <input type="password" name="password2" id="password2" class="validate" placeholder= "Confirm Password">
        <label class="active" for="password">Re-enter Password</label>
      </div>
    </div>

    <div class="row">
      <div id="submit" class="input-field col s2">
      	<button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>