<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Project Name...</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Login</a></li>
    </ul>
  </div>
</nav>

<h3>Registration</h3>

<h4>Create an Account Here!</h4>

<div class="row">
  <form  class="col s12" action="">
    <div class="row">
      <div class="input-field col s4">
        <input type="text" name="user-name" id="userName" class="validate">
        <label class="active" for="userName">User Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
          <input type="password" name="password" id="password" class="validate">
        <label class="active" for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
          <input type="password" name="password" id="password2" class="validate">
        <label class="active" for="password">Re-enter Password</label>
      </div>
    </div>

    <div class="row">
      <div id="submit" class="input-field col s4">
      	<button type="submit"><a href="/search">Register</a></button>
      </div>
    </div>
  </form>
</div>