body {
  /* background-color: bisque; */
  opacity: 95%;
  font-family: "Inter", sans-serif;
  background-image: url("../images/books2.jpeg");
  /* text-align: center; */
}

.nav-wrapper {
  background-color: lightgray;
  /* background-color: teal; */
  box-shadow: 5px 5px 8px gray;
  text-align: center;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.booksImg {
  float: right;
  width: 20%;
  padding: 5px;
}

.loginDiv {
  clear: both;
  /* display: table; */
}

.loginDiv {
  background-color: #3e799e;

  margin-left: 350px;
  margin-right: 100px;
  padding: 10px;
  /* height: 500px; */
  box-shadow: 5px 4px 8px gray;
  border: solid grey;
}

#password {
  box-shadow: 2px 2px 3px gray;
  border-style: solid gainsboro;
  border-radius: 7px;
  border-width: 1px;
  color: black;
  border: solid grey;
}

#password2 {
  box-shadow: 2px 2px 3px gray;
  border-style: solid gainsboro;
  border-radius: 7px;
  border-width: 1px;
  border: solid grey;
}

#userName {
  box-shadow: 2px 2px 3px gray;
  border-style: solid black;
  border-radius: 7px;
  border-width: 1px;
  border: solid grey;
}
.active {
  color: black;
  font-family: "Inter", sans-serif;
}
/* 
#submit {
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color:gainsboro;
 background-color: burlywood;
} */
#submit {
    color: white;
    width: 25%;
  }